@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  touch-action: none;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

#main {
  background: repeating-linear-gradient(
    135deg,
    rgba(86, 86, 86, 0.02) 0px,
    rgba(86, 86, 86, 0.02) 22px,
    rgba(202, 202, 202, 0.02) 22px,
    rgba(202, 202, 202, 0.02) 67px,
    rgba(247, 247, 247, 0.02) 67px,
    rgba(247, 247, 247, 0.02) 113px,
    rgba(135, 135, 135, 0.02) 113px,
    rgba(135, 135, 135, 0.02) 132px,
    rgba(157, 157, 157, 0.02) 132px,
    rgba(157, 157, 157, 0.02) 153px,
    rgba(53, 53, 53, 0.02) 153px,
    rgba(53, 53, 53, 0.02) 171px,
    rgba(17, 17, 17, 0.02) 171px,
    rgba(17, 17, 17, 0.02) 181px,
    rgba(179, 179, 179, 0.02) 181px,
    rgba(179, 179, 179, 0.02) 220px
  );
}
